<% if current_user.present? %>
  <div class="alert alert-success text-center">Welcome <%= current_user.name %></div>
<% end %>
<% if @current_event %>
  <div class="alert alert-warning text-center">
    <p>Current party:</p>
    <h3><%= link_to "#{@current_event.wordnik}", event_path(@current_event.id) %></h3>
    <p>(end this party to create a new one)</p>
  </div>
<% else %>
  <%= button_to "Create a Party", new_event_path, method: :get, class: "btn btn-big btn-primary leder" %>
<% end %>
<table class="table">
  <thead>
    <th>Passphrase</th>
    <th>Status</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= link_to "#{event.wordnik}", event_path(event.id) %></td>
      <td>
        <%= "Pending" if event.start_time == nil %>
        <%= "Started" if event.event_status == true && event.start_time != nil %>
        <%= "Done" if event.event_status == false %>
      </td>
      <td><%= event.players.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

