<% if current_user.present? %>
  <div class="alert alert-success">Welcome <%= current_user.name %></div>
<% end %>
<h3>Select party type</h3>
<div class="buttons">
  <%= link_to "Dinner with Friends", new_event_path(party_type_id: 1), id: "dinner", class: "btn btn-primary cat", :method => :get %>
  <%= link_to "Raucous Gathering", new_event_path(party_type_id: 2), id: "dinner", class: "btn btn-primary cat", :method => :get %>
  <%= link_to "Fab Date Night", new_event_path(party_type_id: 3), id: "dinner", class: "btn btn-primary cat", :method => :get %>
  <%= link_to "Team Building", new_event_path(party_type_id: 4), id: "dinner", class: "btn btn-primary cat", :method => :get %>
</div>