<% if current_user.present? %>
  <div class="alert alert-success">Welcome <%= current_user.name %></div>
<% end %>
<%= button_to "Create a Party", new_event_path, method: :get, class: "btn btn-big btn-primary leder" %>
<table class="table">
  <thead>
    <th>Passphrase</th>
    <th>Status</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= link_to "#{event.wordnik}", event_path(event.id) %></td>
      <td>
        <%= "Pending" if event.event_status == nil %>
        <%= "Started" if event.event_status == true %>
        <%= "Done" if event.event_status == false %>
      </td>
      <td><%= event.players.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

