<% if current_user.present? %>
  <div class="alert alert-success">Welcome <%= current_user.name %></div>
<% end %>
<table class="table">
  <thead>
    <th>Passphrase</th>
    <th>Status</th>
    <th>Players</th>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><a href="events/<%= event.id %>"><%= event.wordnik %></a></td>
      <td>
        <%= "Pending" if event.event_status == nil %>
        <%= "Started" if event.event_status == true %>
        <%= "Done" if event.event_status == false %>
      </td>
      <td><%= event.players.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Create a Party", new_event_path, method: :get, class: "btn btn-success leder" %>

