<h3>Select party type</h3>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Dinner With Friends <i class="fa fa-plus-square-o"></i>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body text-center">
        <%= form_for @event do |f| %>
          <label class="btn btn-primary rating">
            <%= f.radio_button :rating_id, '1'%>
            <span>PG</span>
          </label>
          <label class="btn btn-primary rating">
            <%= f.radio_button :rating_id, '2'%>
            <span>PG-13</span>
          </label>
          <label class="btn btn-primary rating">
            <%= f.radio_button :rating_id, '3'%>
            <span>R</span>
          </label>
          <%= f.hidden_field :party_type_id, value: 1 %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <button class='btn btn-success leder hidden fa fa-users' type="submit"> Add Users</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Raucous Gathering <i class="fa fa-plus-square-o"></i>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_for @event do |f| %>
          <div class="rating-panel text-center">
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '1'%>
              <span>PG</span>
            </label>
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '2'%>
              <span>PG-13</span>
            </label>
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '3'%>
              <span>R</span>
            </label>
          </div>
          <%= f.hidden_field :party_type_id, value: 2 %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <button class='btn btn-success leder hidden fa fa-users' type="submit"> Add Users</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Fab Date Night <i class="fa fa-plus-square-o"></i>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_for @event do |f| %>
          <div class="rating-panel text-center">
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '1'%>
              <span>PG</span>
            </label>
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '2'%>
              <span>PG-13</span>
            </label>
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '3'%>
              <span>R</span>
            </label>
          </div>
          <%= f.hidden_field :party_type_id, value: 3 %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <button class='btn btn-success leder hidden fa fa-users' type="submit"> Add Users</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Team Building <i class="fa fa-plus-square-o"></i>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_for @event do |f| %>
          <div class="rating-panel text-center">
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '1'%>
              <span>PG</span>
            </label>
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '2'%>
              <span>PG-13</span>
            </label>
            <label class="btn btn-primary rating">
              <%= f.radio_button :rating_id, '3'%>
              <span>R</span>
            </label>
          </div>
          <%= f.hidden_field :party_type_id, value: 4 %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <button class='btn btn-success leder hidden fa fa-users' type="submit"> Add Users</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
