<%= @event.party_type_id %>
<%= @event.start_time %>
<%= @event.end_time %>
<%= @event.wordnik %>

<p>Invite Players:</p>
<div id="player-form">
  <form role="form">
    Name: <input type="text" id="name" class="form-control" name="name">
    Phone Number: <input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" id="phone" name="phone">
    <input type="hidden" id="event_id" value="<%= @id %>" >
    <button id="add-player">Add User</button>
  </form>
</div>

<div id="player-list">
</div>
<button id="start-party" class="btn btn-primary" value="<%= @id %>">Get this party started!</button>