<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Invite Players:</h3>
  </div>
  <div class="panel-body">
    <div id="player-form">
      <form role="form">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" id="name" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label>Phone Number:</label>
          <input type="tel" class="form-control bfh-phone" data-format="(ddd) ddd-dddd" id="phone" name="phone">
        </div>
        <input type="hidden" id="event_id" value="<%= @id %>" >
        <button id="add-player" class="btn btn-info leder">Add Player</button>
      </form>
    </div>
  </div>
</div>
<div class="passphrase text-center">
  <p>or have players text</p>
  <h3><%= @event.wordnik.downcase %></h3>
  <p>- to -</p>
  <h3><%= "(#{ENV["phone"][2..4]}) #{ENV["phone"][5..7]} - #{ENV["phone"][8..11]}" %></h3>
</div>

<% unless @event.event_status == false %>
  <%= button_to "Get this party started!", "/", class: "btn btn-success btn-big #{'hidden' unless @event.start_time == nil}", id: "party-start-btn", value: "#{@id}" %>

  <%= button_to "Stop the party", event_path(@id), method: "put", class: "btn btn-danger btn-big #{'hidden' if @event.event_status == true}", id: "party-stop-btn" %>
<% end %>

<div id="player-list">
  <h4>Invited Players</h4>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Phone #</th>
      <th>Status</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
