<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Invite Players:</h3>
  </div>
  <div class="panel-body">
    <div id="player-form">
      <form role="form">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" id="name" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label>Phone Number:</label>
          <input type="tel" class="form-control bfh-phone" data-format="(ddd) ddd-dddd" id="phone" name="phone">
        </div>
        <input type="hidden" id="event_id" value="<%= @id %>" >
        <button id="leder-btn" class="btn btn-info">Add Player</button>
      </form>
    </div>
  </div>
</div>
<h4>Invited Players</h4>
<table class="table" id="player-list">
  <tr>
    <th>Name</th>
    <th>Phone #</th>
    <th>Status</th>
  </tr>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.phone %></td>
        <td><%= player.accepted ? "Accepted" : "Pending" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button id="party-btn" class="btn btn-success btn-big" data-status="start" value="<%= @id %>">Get this party started!</button>
