<!DOCTYPE html>
<html>
<head>
  <title>Bedazzle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <% if current_user.present? %>
      <div class="top_right">
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      </div>
      <div class="alert alert-success">Welcome <%= current_user.email %></div>
    <% else %>
      <div class="main">
        <%= link_to 'Sign In', new_user_session_path %> |
        <%= link_to 'Register Now!', new_user_registration_path %>
      </div>
    <% end %>

  <%= yield %>

  </div>
</body>
</html>
